<div class="page">
    <img src="images/screen1.jpg" alt="" class="page-background">

    <div class="container">
        <a href="https://wondersell.ru/"><img border="0"  src="images/logo.png" class="main-logo"></a>

        <h1 class="title">{{ category_name }} <a href="{{ category_url }}"><img src="images/link.png" alt="8"></a></h1>
        <h2 class="subtitle">Анализ категории на Wildberries</h2>

        <div class="generated-by">
            <img src="images/rock.png" alt="V">
            <div class="text">
                <div class="primary">Анализируйте и находите прибыльные товары для продажи на Wildberries</div>
                <div class="secondary">Отчет подготовлен для Егор ботом <a href="http://t.me/wildsearch_bot">Wild Search</a> {{ base_current_date }} года<br>Бот разработан в <a href="https://wondersell.ru">Wondersell</a></div>
            </div>
        </div>
    </div>
</div>