<div class="page">
    <div class="container">
        <h2><strong>Привет,</strong><br/>{{ base_username }} <img src="images/cool.png" alt="8)"></span></h2>

        <div class="column">
            <div class="longread">
                <p>Мы верим, что правильная информация о сегменте рынка – ключ к высоким продажам на маркетплейсах. Для успеха в продажах нужно подобрать к рынку правильный продукт, правильную упаковку и правильную цену. Этот отчет поможет вам понять, что такое «правильно» для вашего сегмента.</p>
                <p>Мы выбрали основные показатели о сегменте и сформировали этот отчет. Если вам не хватает данных – мы готовы предоставить расширенную аналитику и помочь с её интерпретацией. Примеры наших отчетов вы можете посмотреть <a href="https://wondersell.ru">здесь</a>.</p>
            </div>
        </div>
        <div class="column">
            <div class="longread">
                <p>Данные для этого отчета собраны из открытых источников и могут отличаться от фактических цифр. Показатели – это наша оценка рынка. Лучше всего использовать эти оценки для сравнения разных разделов Wildberries между собой. С каждым днем мы улучшаем наши алгоритмы, чтобы данные были точнее и точнее.</p>
                <p>Мы всегда готовы прийти на помощь, если у вас остались вопросы или предложения по отчету. Напишите нам на <a href="mailto:aloha@wondersell.ru">aloha@wondersell.ru</a> – всё обсудим.</p>
            </div>
        </div>
    </div>

    <div class="left-footer">
        {% include 'blocks/copyright.j2' %}
    </div>
</div>