<div class="page">
    <div class="container">
        <h2>Распределение продаж</h2>

        <div class="column">
            <div>
                <table class="distribution-table">
                    {% for bin in sales_distribution %}
                    <tr>
                        <td width="100%"><div class="distribution-table-label">{{ bin.label }} продаж:</div></td>
                        <td><div class="distribution-table-box"><div class="distribution-table-value">{{ bin.ratio }}</div></div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="column">
            <div class="callout-box">
                <h3>Русская рулетка <img border="0" src="images/gun.png" alt title></h3>
                <p>Каковы ваши шансы вывести продукт, который сразу начнет продаваться в большом количестве? Это зависит не только от товара, но и от спроса в категории. Много товаров без продаж может означать, что предложение превышает спрос и на новый товар его может не хватить. Иногда преобладают товары с 1-10 продажами. Чтобы достичь существенных оборотов в подобной категории важно расширять ассортимент и работать над модельным рядом.</p>
                <p>Осторожно относитесь к категориям со слишком высокими продажами всех товаров. Бывает, что в категории продаются только очень дешевые товары с низкой маржинальностью – заработать на таких сложно. В этом случае внимательно изучите отчет по ценовым сегментам.</p>
            </div>

            {% include 'blocks/copyright.j2' %}
        </div>
    </div>
</div>