<div class="page">
    <div class="container">
        <div class="column">
            <div class="chart blue-palette">
                <h4 class="chart-heading">Количество товаров в ценовом сегменте</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>{{ sales_distribution_skus_chart.y_axis_name }}</span></div>
                        <div class="axis-zero row-label">0</div>

                        {% for row in sales_distribution_skus_chart.rows %}
                        <div class="row">
                            <div class="row-label">{{ row.number }} <span>{{ row.digits }}</span></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="columns">
                        <div class="axis-name">{{ sales_distribution_skus_chart.x_axis_name }}</div>
                        {% for col in  sales_distribution_skus_chart.bars %}
                            <div class="col">
                                <div class="bar" style="height:{{ col.height }}%;">
                                    <div class="value">{{ col.v.number }} <span>{{ col.v.digits }}</span></div>
                                    <div class="col-label"><span>{{ col.bin }}</span></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="chart orange-palette">
                <h4 class="chart-heading">Оборот в месяц по ценовым сегментам</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>{{ sales_distribution_turnover_chart.y_axis_name }}</span></div>
                        <div class="axis-zero row-label">0</div>

                        {% for row in sales_distribution_turnover_chart.rows %}
                        <div class="row">
                            <div class="row-label">{{ row.number }} <span>{{ row.digits }}</span></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="columns">
                        <div class="axis-name">{{ sales_distribution_turnover_chart.x_axis_name }}</div>
                        {% for col in  sales_distribution_turnover_chart.bars %}
                            <div class="col">
                                <div class="bar" style="height:{{ col.height }}%;">
                                    <div class="value">{{ col.v.number }} <span>{{ col.v.digits }}</span></div>
                                    <div class="col-label"><span>{{ col.bin }}</span></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Ценовые сегменты</h2>

            <div class="callout-box">
                <p>Ключ к хорошим продажам – правильное позиционирование, в том числе и по цене. В каком ценовом сегменте больше всего конкуренция? Какая цена на товар обеспечивает максимальный оборот? Насколько ваш ассортимент соответствует спросу в категории? Пожалуй, это самые важные вопросы, на которые нужно дать себе ответ перед началом продаж.</p>
                <p>Не всегда самая низкая цена гарантирует отличные продажи — будьте к этому готовы. Часто покупатели предпочитают более качественные товары по более высокой цене – можно этим воспользоваться.</p>
            </div>

            <div class="right-footer">
                {% include 'blocks/copyright.j2' %}
            </div>
        </div>
    </div>
</div>