<div class="page">
    <div class="container">
        <div class="column">
            <div class="chart blue-palette">
                <h4 class="chart-heading">Количество товаров в ценовом сегменте</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>Количество артикулов</span></div>
                        <div class="row">
                            <div class="row-label">600 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">500 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">300 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">200 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">100 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">0</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="axis-name">Цена</div>
                        <div class="col">
                            <div class="bar" style="height:95%;">
                                <div class="value">550</div>
                                <div class="col-label">0 – 1 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:80%;">
                                <div class="value">800</div>
                                <div class="col-label">1 – 2 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:30%;">
                                <div class="value">300</div>
                                <div class="col-label">2 – 3 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:9%;">
                                <div class="value">90</div>
                                <div class="col-label">3 – 4 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:56%;">
                                <div class="value">359</div>
                                <div class="col-label">4 – 5 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:10%;">
                                <div class="value">100</div>
                                <div class="col-label">5+ <span>тыс. руб.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart orange-palette">
                <h4 class="chart-heading">Оборот в месяц по ценовым сегментам</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>Оборот</span></div>
                        <div class="row">
                            <div class="row-label">600 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">500 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">300 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">200 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">100 <span>млн. руб.</span></div>
                        </div>
                        <div class="row">
                            <div class="row-label">0</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="axis-name">Цена</div>
                        <div class="col">
                            <div class="bar" style="height:95%;">
                                <div class="value">550</div>
                                <div class="col-label">0 – 1 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:80%;">
                                <div class="value">800</div>
                                <div class="col-label">1 – 2 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:30%;">
                                <div class="value">300</div>
                                <div class="col-label">2 – 3 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:9%;">
                                <div class="value">90</div>
                                <div class="col-label">3 – 4 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:56%;">
                                <div class="value">359</div>
                                <div class="col-label">4 – 5 <span>тыс. руб.</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:10%;">
                                <div class="value">100</div>
                                <div class="col-label">5+ <span>тыс. руб.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Ценовые сегменты</h2>

            <div class="callout-box">
                <p>Ключ к хорошим продажам – правильное позиционирование, в том числе и по цене. В каком ценовом сегменте больше всего конкуренция? Какая цена на товар обеспечивает максимальный оборот? Насколько ваш ассортимент соответствует спросу в категории? Пожалуй, это самые важные вопросы, на которые нужно дать себе ответ перед началом продаж.</p>
                <p>Не всегда самая низкая цена гарантирует отличные продажи — будьте к этому готовы. Часто покупатели предпочитают более качественные товары по более высокой цене – можно этим воспользоваться.</p>
            </div>

            <div class="right-footer">
                {% include 'blocks/copyright.j2' %}
            </div>
        </div>
    </div>
</div>