<div class="page">
    <div class="container">
        <div class="column">
            <div class="chart blue-palette">
                <h4 class="chart-heading">Происхождение бренда</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>Количество артикулов</span></div>
                        <div class="row">
                            <div class="row-label">600</div>
                        </div>
                        <div class="row">
                            <div class="row-label">500</div>
                        </div>
                        <div class="row">
                            <div class="row-label">300</div>
                        </div>
                        <div class="row">
                            <div class="row-label">200</div>
                        </div>
                        <div class="row">
                            <div class="row-label">100</div>
                        </div>
                        <div class="row">
                            <div class="row-label">0</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="col">
                            <div class="bar" style="height:95%;">
                                <div class="value">550</div>
                                <div class="col-label"><img border="0"  src="images/ru.png" alt title> <span>Россия</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:80%;">
                                <div class="value">800</div>
                                <div class="col-label"><img border="0"  src="images/be.png" alt title> <span>Белорусь</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:30%;">
                                <div class="value">300</div>
                                <div class="col-label"><img border="0"  src="images/gr.png" alt title> <span>Греция</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:9%;">
                                <div class="value">90</div>
                                <div class="col-label"><img border="0"  src="images/tur.png" alt title> <span>Турция</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:56%;">
                                <div class="value">359</div>
                                <div class="col-label"><img border="0"  src="images/it.png" alt title> <span>Италия</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:10%;">
                                <div class="value">100</div>
                                <div class="col-label"><img border="0"  src="images/dr.png" alt title><span>Другие</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart orange-palette">
                <h4 class="chart-heading">Страна производства</h4>

                <div class="canvas">
                    <div class="rows">
                        <div class="axis-name"><span>Количество артикулов</span></div>
                        <div class="row">
                            <div class="row-label">600</div>
                        </div>
                        <div class="row">
                            <div class="row-label">500</div>
                        </div>
                        <div class="row">
                            <div class="row-label">300</div>
                        </div>
                        <div class="row">
                            <div class="row-label">200</div>
                        </div>
                        <div class="row">
                            <div class="row-label">100</div>
                        </div>
                        <div class="row">
                            <div class="row-label">0</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="col">
                            <div class="bar" style="height:95%;">
                                <div class="value">550</div>
                                <div class="col-label"><img border="0"  src="images/ru.png" alt title> <span>Россия</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:80%;">
                                <div class="value">800</div>
                                <div class="col-label"><img border="0"  src="images/be.png" alt title> <span>Белорусь</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:30%;">
                                <div class="value">300</div>
                                <div class="col-label"><img border="0"  src="images/gr.png" alt title> <span>Греция</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:9%;">
                                <div class="value">90</div>
                                <div class="col-label"><img border="0"  src="images/tur.png" alt title> <span>Турция</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:56%;">
                                <div class="value">359</div>
                                <div class="col-label"><img border="0"  src="images/it.png" alt title> <span>Италия</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bar" style="height:10%;">
                                <div class="value">100</div>
                                <div class="col-label"><img border="0"  src="images/dr.png" alt title><span>Другие</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Происхождение товара</h2>

            <div class="callout-box">
                <p>Если в категории хорошо продаются зарубежные товары, оцените возможность их производства у себя – возможно, это будет дешевле закупки за рубежом. Иногда часть брендов относится к одной стране, а товары производятся в других – значит, в категории много продуктов, произведенных по контракту (Private Label) – это может быть отличной возможностью для вывода собственной марки по этой же схеме.</p>
                <p>Вы можете заказать расширенный отчет с зависимостью продаж от страны бренда и производства, чтобы узнать: в каких странах производятся лучшие товары и каким странам доверяют покупатели.</p>
            </div>

            {% include 'blocks/copyright.j2' %}
        </div>
    </div>
</div>