<div class="page">
    <div class="container">
        <div class="column">
            <div class="pie-container single-pie">
                <div class="hold"><div class="pie" style="background-color:gray;transform:rotate(30deg);"></div></div>
                <div class="hold style="transform: rotate(30deg);"><div class="pie" style="background-color:black;transform:rotate(60deg);"></div></div>
                <div class="hold style="transform: rotate(90deg);"><div class="pie" style="background-color:orange;transform:rotate(120deg);"></div></div>
                <div class="hold" style="transform: rotate(210deg);"><div class="pie" style="background-color:blue;transform:rotate(10deg);"></div></div>
                <div class="hold" style="transform: rotate(220deg);"><div class="pie" style="background-color:green;transform:rotate(70deg);"></div></div>
                <div class="hold" style="transform: rotate(290deg);"><div class="pie" style="background-color:red;transform:rotate(70deg);"></div></div>

                <div class="inner-circle"><div class="content">Доля в продажах</div></div>
            </div>
        </div>
        <div class="column">
            <h2>Популярные бренды</h2>

            <div class="callout-box">
                <p>Кто лучше всего продает в этом разделе? Какую стратегию использует этот продавец? Делает ли он оборот на большом количестве товаров среднего спроса или сконцентрировался на одном бестселлере? Наблюдайте за наиболее успешными – это поможет выбрать правильную стратегию начала продаж.</p>
                <p>Не забудьте посмотреть на товары этих продавцов. Их ассортимент может многое рассказать о том, какие товары пользуются спросом, а какие – нет.</p>
            </div>

            {% include 'blocks/copyright.j2' %}
        </div>
    </div>
</div>