<div class="page">
			<div class="container">
				<h2>Лучшие товары</h2>

                <div class="column">
                    <div class="longread">
                        <p><img border="0"  src="images/e1.png" alt=""></p>
						<p>Какие товары продаются лучше, а какие не пользуются спросом? Похожи ли ваши товары на бестселлеры категории? А может быть, у товаров с хорошим спросом есть недостатки, о которых покупатели жалуются в комментариях? Честно ответить на эти вопросы можно только повышая свою насмотренность – изучая карточки товаров, читая отзывы покупателей и анализируя отчеты по категориям. Рейтинги в этом отчете подскажут вам, с каких товаров стоит начать исследования.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="longread">
                        <p><img border="0"  src="images/e2.png" alt=""></p>
						<p>Обращайте внимание на все детали – какие товары продаются хорошо, как они представлены на фотографиях, какие у них характеристики, что о них говорят покупатели. Иногда для успеха важны самые незначительные мелочи. Со временем вы сможете использовать свои находки для подачи собственных товаров и для улучшения ассортимента.</p>
						<p>Да и чего уж скрывать – всегда интересно подглядеть за конкурентами.</p>
                    </div>
                </div>
            </div>

            {% include 'blocks/copyright.j2' %}
        </div>