<div class="page">
    <div class="container">
        <h2>Соседние разделы</h2>

        <div class="column">
            <div class="longread">
                <p><img border="0"  src="images/e3.png" alt title></p>
                <p>Точно ли выбранный раздел лучший из возможных? Как обстоят дела в смежных сегментах рынка? Сравните их – возможно, вам стоит переориентировать свой ассортимент под раздел с более интересными параметрами.</p>
            </div>
        </div>
        <div class="column">
            <div class="longread">
                <p><img border="0"  src="images/e4.png" alt title></p>
                <p>Обращайте внимание не только на объем продаж в разделе, но и на ситуацию с конкуренцией. Часто оказывается так, что заработать в сегменте среднего объема, но с низкой конкуренцией оказывается проще, чем в денежном сегменте, но с высокой конкуренцией или с продавцом-монополистом.</p>
            </div>
        </div>
    </div>

    {% include 'blocks/copyright.j2' %}
</div>