<div class="page">
    <div class="container">
        <h2>Соседние разделы</h2>

        <table class="table-data">
            <thead>
                <tr>
                    <td></td>
                    <td>Первые продажи</td>
                    <td>Оборот в мес.</td>
                    <td>Товаров</td>
                    <td>Брендов</td>
                    <td>Оборот медианного товара</td>
                    <td>Монопольность</td>
                </tr>
            </thead>
            <tbody>
                <tr class="highlighted">
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
                <tr>
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
                <tr>
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
                <tr>
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
                <tr>
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
                <tr>
                    <td><div class="table-data-item-name"><a href="https://www.wildberries.ru/catalog/dlya-doma/postelnye-prinadlezhnosti/podushki">Подушки</a></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">сер. 2016</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">37 <span>млн руб</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value">2 120</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">43</div></td>
                    <td class="table-parameter"><div class="table-parameter-value">10 400 <span>руб. / мес.</span></div></td>
                    <td class="table-parameter"><div class="table-parameter-value"><img src="images/m3.png" alt="" class="star"> 1.0/5</div></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'blocks/copyright.j2' %}
</div>