<div class="page">
    <div class="container">
        <h2>Значения показателей</h2>

        <div class="column">
            <div class="longread">
                <p><strong>Товаров</strong> – количество карточек товаров с уникальным адресом в разделе на момент оценки</p>
                <p><strong>Брендов</strong> – количество брендов в разделе на момент оценки</p>
                <p><strong>Оборот в месяц всего</strong> – сумма средних оборотов каждого товара в разделе, вычисляется исходя из количества продаж товаров и их текущих цен</p>
                <p><strong>Продаж в месяц всего</strong> – сумма количества проданных товаров у активных в момент оценки карточек товаров в разделе</p>
                <p><strong>Оборот в месяц у медианного товара</strong> – медианное значение среднего оборота товаров в разделе</p>
                <p><strong>Продаж в месяц у медианного товара</strong> – медианного значения количества проданных товаров у активных в момент оценки карточек товаров в разделе</p>
            </div>
        </div>
        <div class="column">
            <div class="longread">
                <p><strong>Монопольность</strong> – индекс HHI раздела, нормированный по всем разделам Wildberries на данный момент</p>
                <p><strong>Мусорность</strong> – доля карточек товаров с 0 продаж в разделе</p>
                <p><strong>Самый старый товар</strong> – товар с первым оставленным отзывом из всех товаров в разделе</p>
                <p><strong>Самый низкий рейтинг</strong> – минимальное значение рейтинга среди товаров, для которых оставлен хотя бы 1 отзыв</p>
                <p><strong>Первые продажи</strong> – в разделе считаются по дате первого отзыва</p>
            </div>
        </div>
    </div>

    <div class="left-footer">
        {% include 'blocks/copyright.j2' %}
    </div>
</div>