@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,,700&subset=latin,cyrillic");
@page {
  size: A4 landscape;
  /*margin: 0;*/
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

a, button {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

b, strong {
  font-weight: 700;
}

button,
label,
input[type="submit"] {
  cursor: pointer;
}

input {
  border: none;
}

img {
    max-width: 100%;
}

/* Типографика */

body {
    font-size: 8pt;
}

h1 {
    font-size: 20pt;
    font-weight: 700;
}

h2 {
    font-size: 25pt;
    font-weight: 300;
}

h3 {
    font-size: 14pt;
    font-weight: 300;
}

h4 {
    font-size: 11pt;
    font-weight: 300;
}

p {
    line-height: 1.45em;
    font-weight: 300;
}

.subtitle {
    font-size: 12pt;
    font-weight: 300;
}

.generated-by {
    line-height: 1.6em;
}

.generated-by .primary {
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.5em;
}

.generated-by .secondary {
    font-size: 8pt;
    font-weight: 300;
}

.copyright .text{
    font-size: 7pt;
    font-weight: 300;
    line-height: 1.7em;
}

.main-parameter-value {
    font-size: 32pt;
    font-weight: 100;
}

.main-parameter-value span {
    font-size: 16pt;
    font-weight: 100;
}

.main-parameter-label {
    font-size: 10pt;
    font-weight: 100;
    line-height: 1.5em;
}

.main-parameter-stars {
    font-size: 16pt;
    font-weight: 100;
}

.main-parameter-description {
    font-size: 8pt;
    font-weight: 100;
    line-height: 1.5em;
}

.callout-box p {
    font-size: 9pt;
}

.longread p {
    font-size: 9pt;
}

.distribution-table {
    font-size: 23pt;
    font-weight: 100;
}

.table-data thead {
    font-size: 9pt;
    font-weight: 300;
}

.table-data-item-name {
    font-size: 8pt;
    font-weight: 300;
    line-height: 1.2em;
}

.table-data-item-price {
    font-size: 7pt;
    font-weight: 300;
}

.table-parameter-value {
    font-size: 10pt;
    font-weight: 300;
}

.table-parameter-value span {
    font-size: 7pt;
    font-weight: 300;
}

.table-compare .table-parameter-value {
    font-size: 9pt;
    font-weight: 300;
}

.table-compare .table-parameter-value span {
    font-size: 6pt;
    font-weight: 300;
}

.table-compare thead .table-data-item-type {
    font-size: 11pt;
    font-weight: 300;
}

.table-compare thead .table-data-item-name {
    font-size: 8pt;
    font-weight: 300;
}

.table-compare tbody .table-data-item-name {
    font-size: 7pt;
    font-weight: 300;
}

.chart .axis-name {
    font-size: 7pt;
    font-weight: 300;
}

.chart .row-label {
    font-size: 8pt;
    font-weight: 300;
}

.chart .row-label span {
    font-size: 5pt;
    font-weight: 300;
}

.chart .col-label {
    font-size: 8pt;
    font-weight: 300;
}

.chart .col-label span {
    font-size: 7pt;
    font-weight: 300;
}

.chart .bar .value {
    font-size: 8pt;
    font-weight: 300;
    background: rgba(255,255,255,1);
}

/* Цвета */

a {
  color: #0b5394;
}

.copyright {
    color: #999999;
}



/* Лэйаут */

body {
    padding: 0;
}

.page {
    page-break-after: always;
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
}

.container:after {
    display: block;
    content: "";
    clear: both;
}

.column {
    width: 50%;
    float: left;
}

.page-background {
    position: absolute;
    display: block;
    width: 65%;
    top: 0;
    right: 0;
    z-index: -1;
}

h1 {
    margin-bottom: .5em;
}

h2 {
    margin-bottom: 1em;
}

.column h2 {
    padding-left: 1.1em;
}

h3 {
    margin-bottom: 1em;
}

h4 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1.5em;
}

h1 img, h2 img, h3 img, h4 img {
    height: 1em;
    position: relative;
    top: .2em;
}

.main-logo {
    display: block;
    width: 26em;
    margin-top: 3em;
    margin-bottom: 5em;
}

.generated-by {
    width: 50%;
    display: block;
    margin-top: 19em;
}

.generated-by:after {
    display: block;
    content: "";
    clear: both;
}

.generated-by img {
    display: block;
    float: left;
    margin-right: 2em;
    height: 9em;
}

.generated-by .text {
    padding-top: .3em;
}

.generated-by .primary {
    margin-bottom: .8em;
}

.left-footer .copyright {
    position: absolute;
    top: 16cm;
    width: 50em;
}

.right-footer .copyright {

}

.copyright {
    overflow: hidden;
    clear: both;
}

.copyright .text {
    padding-top: .8em;
}

.copyright .logo {
    float: left;
    padding-right: 1em;
    padding-top: 0.9em;
}

.copyright img {
    height: 2.5em;
}

.column .copyright {
    position: relative;
    left: 3.1em;
}

.longread {
    padding-right: 4em;
    padding-bottom: 9em;
    padding-top: 9em;
}

.longread p {
    margin-right: 6em;
}

.longread p img {
    height: 3em;
}

.main-parameter {
    display: block;
    font-weight: lighter;
    padding: 2em 2.5em 2em 0;
}

.main-parameter-value {
    margin-bottom: .15em;
    white-space: nowrap;
}

.main-parameter-stars {
    padding-bottom: .1em;
    padding-top: .1em;
}

.main-parameter-stars img {
    position: relative;
    top: .1em;
    height: 1em;
}

.main-parameter-description {
    margin-top: .4em;
}

.callout-box {
    border: 1.7px #dedede dotted;
    border-radius: 8pt;
    padding: 3em;
    margin-bottom: 3em;
}

.callout-box p:last-of-type {
    margin-bottom: 0;
}

.header-star {
    height: .8em;
    margin-bottom: .2em;
}

.distribution-table {
    width: 100%;
    vertical-align: middle;
}

.distribution-table img {
    height: .8em;
    margin: -.05em;
}

.distribution-table td {
    padding-right: 1em;
    padding-bottom: .7em;
}

.distribution-table-box {
    border: 1.7px #dedede dotted;
    border-radius: 6pt;
    padding: .37em .4em;
    width: 3.3em;
}

.distribution-table-label {
    text-align: right;
}

.distribution-table-value, .distribution-table-label {
    white-space: nowrap;
}

.table-data {
    width: 100%;
    margin-bottom: 3em;
}

.table-data td {
    padding: 0 1em;
    vertical-align: middle;
}

.table-data thead {
    white-space: nowrap;
}

.table-data thead td {
    padding: 1.43em .71em;
}

.table-data thead td {
    border-top: none;
}

.table-data tr td:last-of-type {
    border-right: 0em none;
}

.table-data td {
    border-right: 1.7px #dedede dotted;
}

.table-data td.skip-border {
    border-right: 0em none;
    padding-right: 0;
}

.table-data tr td:last-of-type {
    border-right: 0em none;
}

.table-data tr.highlighted {
    background: linear-gradient(to right, #a546b2 0%, #8573d2 50%, #07afe5 100%);
}

.table-data tr.highlighted td {
    border-width: 0em !important;
    color: #fff;
}

.table-data tr.highlighted td a {
    color: #fff;
}

.table-data tbody tr:nth-child(odd) td {
    border-top: 1.7px #dedede dotted;
    border-bottom: 1.7px #dedede dotted;
}

.table-data tbody tr:nth-child(odd) td:first-of-type {
    border-left: 1.7px #dedede dotted;
    border-radius: 8pt 0 0 8pt;
}

.table-data tbody tr:nth-child(odd) td:last-of-type {
    border-right: 1.7px #dedede dotted;
    border-radius: 0 8pt 8pt 0;
}

td.table-parameter {
    padding: 2em 1em;
}

.table-parameter-value .star {
    margin-bottom: -.1em;
    margin-right: .2em;
}

.table-data img {
    max-height: 6em;
    max-width: 6em;
}

.table-data-item-name {
    margin-bottom: .5em;
}

.table-parameter-value {
    white-space: nowrap;
}

.table-parameter-value img {
    height: 1em;
}

.table-medals tbody tr:nth-child(odd) td:first-of-type {
    border-top: 0em none;
    border-bottom: 0em none;
    border-left: 0em none;
    padding-right: 1em;
}

.table-medals tbody tr:nth-child(odd) td:nth-of-type(2) {
    border-left: 1.7px #dedede dotted;
    border-radius: 8pt 0 0 8pt;
}

.table-medals tbody tr td:nth-child(3) {
    width: 25em;
}

.table-data-medal {
    text-align: left;
}

.table-data-medal img {
    width: 1.5em;
}

.table-compare img {
    max-height: 6em;
    max-width: 6em;
}

.table-compare tr td {
    border-right: 1.7px #dedede dotted;
}

.table-compare tr td:last-of-type {
    border-right: 0em none;
}

.table-compare tbody tr td {
    border-top: 1.7px #dedede dotted;
}

.table-compare td {
    width: 20%;
}

.table-compare thead td {
    padding: 0 1em;
}

.table-compare .table-data-item-type {
    margin-bottom: .8em;
}

.table-compare-photo div {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}

.table-compare-photo .table-compare-icon {
    width: 1.9em;
    position: absolute;
    top: 0;
    right: 0;
}

.chart {
    margin-bottom: 6em;
}

.chart:after {
    display: block;
    content: "";
    clear: both;
}

.chart .canvas {
    height: 25em;
    position: relative;
    margin-left: 6em;
    margin-right: 2em;
}

.chart .rows {
    position: relative;
}

.chart .rows, .chart .columns {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.chart .rows .axis-name {
    position: absolute;
    left: -5.5em;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    text-align: center;
    overflow: visible;
}

.chart .rows .axis-name span {
    position: relative;
    left: -50%;
    display: block;
    transform: rotate(-90deg);
    white-space: nowrap;
    text-align: center;
    margin: auto;
}

.chart .row {
    display: block;
    position: relative;
    width: 100%;
    height: 5em;
    border-top: 1.7px #dedede dotted;
}

.chart .row:last-of-type {
    border-bottom: 1.7px #dedede dotted;
}

.chart .row-label {
    position: absolute;
    text-align: right;
    width: 4em;
    left: -4.5em;
    top: -.6em;
    height: 1em;
    overflow: visible;
}

.chart .rows .axis-zero {
    top: auto;
    bottom: -.4em;
}

.chart .row-label span {
    display: block;
}

.chart .col {
    width: 14.2%;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
}

.chart .col .bar {
    position: absolute;
    border-radius: .25em;
    width: .5em;
    /*min-height: 3%;*/
    right: -.25em;
    bottom: -.25em;
}

.chart .col .bar .value {
    width: 4em;
    text-align: center;
    position: absolute;
    top: -1.5em;
    left: -1.75em;
}

.chart .col .bar .col-label {
    width: 4em;
    text-align: center;
    position: absolute;
    bottom: -1.2em;
    height: 1em;
    overflow: visible;
    left: -1.75em;
}

.chart .col .bar .col-label span {
    display: block;
}

.chart .col .bar .col-label img {
    width: 2em;
    margin-top: .5em;
}

.chart .col .col-label {
    position: absolute;
    bottom: -1em;
}

.chart .axis-name {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4em;
    text-align: center;
}

.blue-palette .col .bar {
    background: linear-gradient(to bottom, #a546b2 0%, #8573d2 50%, #07afe5 100%);
}

.orange-palette .col .bar {
    background: linear-gradient(to top, #fda383 0%, #f7cf68 100%);
}

.single-pie {
    margin-left: 5em;
    margin-top: 15em;
}

.pie-container {
    height: 30em;
    position: relative;
}

.pie {
    position: absolute;
    width: 30em;
    height: 30em;
    border-radius: 100%;
    clip: rect(0em, 15em, 30em, 0em);
}

.hold {
    position: absolute;
    width: 30em;
    height: 30em;
    border-radius: 100%;
    clip: rect(0em, 30em, 30em, 15em);
}

.inner-circle {
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: #fff;
    border-radius: 100%;
    top: 10em;
    left: 10em;
}

.inner-circle .content {
    width: 7.07em;  /*Квадртар, вписанный в окружность – 2*R/sqrt(2)*/
    height: 7.07em;
    padding-top: 2.5em;
    position: absolute;
    top: 1.46em;
    left: 1.46em;
    display: block;
    text-align: center;
}
