<div class="copyright">
    <div class="logo"><a href="http://t.me/wildsearch_bot"><img border="0" src="images/logo2.png" alt title></a></div>
    <div class="text">
        <div>Отчет подготовлен ботом <a href="http://t.me/wildsearch_bot">Wild Search</a> {{ base_current_date }} года</div>
        <div>Бот разработан в <a href="https://wondersell.ru">Wondersell</a></div>
    </div>
</div>