<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>
<body>
<h1><a href="{{ category_url }}">{{ category_name }}</a></h1>

<p>Дата {{ base_current_date }} года</p>

<div style="page-break-after: always;"></div>

<p>{{ base_goods.number }} {{ base_goods.digits }} {{ base_goods.label}}</p>
<p>{{ base_brands.number }} {{ base_brands.digits }} {{ base_brands.label}}</p>
<p>{{ base_turnover.number }} {{ base_turnover.digits }} {{ base_turnover.units }} Оборот в месяц всего</p>
<p>{{ base_sold.number }} {{ base_sold.digits }} {{ base_sold.units }} Продаж в месяц всего</p>
<p>{{ base_turnover_median.number }} {{ base_turnover_median.digits }} {{ base_turnover_median.units }} Оборот в месяц у медианного товара</p>
<p>{{ base_sold_median.number }} {{ base_sold_median.digits }} {{ base_sold_median.units }} Продаж в месяц у медианного товара</p>
<p>Монопольность: {{ base_monopoly_index.number }}/5</p>
<p>Мусорность: {{ base_trash_index.number }}/5</p>

<div style="page-break-after: always;"></div>

<h2>Распределение продаж</h2>
{% for bin in sales_distribution %}
  <p>{{ bin.label }} продаж: {{ bin.ratio }}</p>
{% endfor %}

<div style="page-break-after: always;"></div>

<h2>Популярные бренды</h2>
<table border="1">
    <thead>
        <th colspan="2"></th>
        <th>Товаров в категории</th>
        <th>Продаж в мес.</th>
        <th>Первый отзыв</th>
        <th>Средний рейтинг</th>
    </thead>
    <tbody>
    {% for brand in popular_brands %}
        <tr>
            <td><a href="{{ brand.url }}"><img src="{{ brand.logo }}" alt="{{ brand.name }}"/></a></td>
            <td><a href="{{ brand.url }}">{{ brand.name }}</a></td>
            <td>{{ brand.goods.number }} {{ brand.goods.digits }} {{ brand.goods.units }}</td>
            <td>{{ brand.turnover.number }} {{ brand.turnover.digits }} {{ brand.turnover.units }}</td>
            <td>{{ brand.first_review_date }}</td>
            <td>{{ brand.average_rating }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="page-break-after: always;"></div>

<h2>Популярные бренды</h2>
<p>Здесь должен быть график</p>

<div style="page-break-after: always;"></div>

<h2>Средний рейтинг: {{ average_rating }}</h2>
{% for bin in rating_distribution %}
  <p>{{ bin.label }}: {{ bin.ratio }}</p>
{% endfor %}

<div style="page-break-after: always;"></div>

<h2>Лучшие по продажам за все время (в штуках)</h2>
<table border="1">
    <thead>
        <th colspan="2"></th>
        <th colspan="2">Всего продаж</th>
        <th colspan="2">Продажи в месяц</th>
        <th>Первый отзыв</th>
        <th>Рейтинг</th>
    </thead>
    <tbody>
    {% for item in best_purchases_overall %}
        <tr>
            <td><a href="{{ item.url }}"><img src="{{ item.logo }}" alt="{{ item.name }}" width="100px"/></a></td>
            <td><a href="{{ item.url }}">{{ item.name }}</a>{{ item.price }}</td>
            <td>{{ item.purchases.number }} {{ item.purchases.digits }} {{ item.purchases.units }}</td>
            <td>{{ item.turnover.number }} {{ item.turnover.digits }} {{ item.turnover.units }}</td>
            <td>{{ item.purchases_month.number }} {{ item.purchases_month.digits }} {{ item.purchases_month.units }}</td>
            <td>{{ item.turnover_month.number }} {{ item.turnover_month.digits }} {{ item.turnover_month.units }}</td>
            <td>{{ item.first_review_date }}</td>
            <td>{{ item.average_rating }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="page-break-after: always;"></div>

<h2>Лучшие по обороту за все время (в рублях)</h2>
<table border="1">
    <thead>
        <th colspan="2"></th>
        <th colspan="2">Всего продаж</th>
        <th colspan="2">Продажи в месяц</th>
        <th>Первый отзыв</th>
        <th>Рейтинг</th>
    </thead>
    <tbody>
    {% for item in best_sold_overall %}
        <tr>
            <td><a href="{{ item.url }}"><img src="{{ item.logo }}" alt="{{ item.name }}" width="100px"/></a></td>
            <td><a href="{{ item.url }}">{{ item.name }}</a>{{ item.price }}</td>
            <td>{{ item.purchases.number }} {{ item.purchases.digits }} {{ item.purchases.units }}</td>
            <td>{{ item.turnover.number }} {{ item.turnover.digits }} {{ item.turnover.units }}</td>
            <td>{{ item.purchases_month.number }} {{ item.purchases_month.digits }} {{ item.purchases_month.units }}</td>
            <td>{{ item.turnover_month.number }} {{ item.turnover_month.digits }} {{ item.turnover_month.units }}</td>
            <td>{{ item.first_review_date }}</td>
            <td>{{ item.average_rating }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="page-break-after: always;"></div>

<h2>Лучшие по продажам в месяц (в штуках)</h2>
<table border="1">
    <thead>
        <th colspan="2"></th>
        <th colspan="2">Всего продаж</th>
        <th colspan="2">Продажи в месяц</th>
        <th>Первый отзыв</th>
        <th>Рейтинг</th>
    </thead>
    <tbody>
    {% for item in best_purchases_month %}
        <tr>
            <td><a href="{{ item.url }}"><img src="{{ item.logo }}" alt="{{ item.name }}" width="100px"/></a></td>
            <td><a href="{{ item.url }}">{{ item.name }}</a>{{ item.price }}</td>
            <td>{{ item.purchases.number }} {{ item.purchases.digits }} {{ item.purchases.units }}</td>
            <td>{{ item.turnover.number }} {{ item.turnover.digits }} {{ item.turnover.units }}</td>
            <td>{{ item.purchases_month.number }} {{ item.purchases_month.digits }} {{ item.purchases_month.units }}</td>
            <td>{{ item.turnover_month.number }} {{ item.turnover_month.digits }} {{ item.turnover_month.units }}</td>
            <td>{{ item.first_review_date }}</td>
            <td>{{ item.average_rating }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="page-break-after: always;"></div>

<h2>Лучшие по обороту за все время (в рублях)</h2>
<table border="1">
    <thead>
        <th colspan="2"></th>
        <th colspan="2">Всего продаж</th>
        <th colspan="2">Продажи в месяц</th>
        <th>Первый отзыв</th>
        <th>Рейтинг</th>
    </thead>
    <tbody>
    {% for item in best_sold_month %}
        <tr>
            <td><a href="{{ item.url }}"><img src="{{ item.logo }}" alt="{{ item.name }}" width="100px"/></a></td>
            <td><a href="{{ item.url }}">{{ item.name }}</a>{{ item.price }}</td>
            <td>{{ item.purchases.number }} {{ item.purchases.digits }} {{ item.purchases.units }}</td>
            <td>{{ item.turnover.number }} {{ item.turnover.digits }} {{ item.turnover.units }}</td>
            <td>{{ item.purchases_month.number }} {{ item.purchases_month.digits }} {{ item.purchases_month.units }}</td>
            <td>{{ item.turnover_month.number }} {{ item.turnover_month.digits }} {{ item.turnover_month.units }}</td>
            <td>{{ item.first_review_date }}</td>
            <td>{{ item.average_rating }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="page-break-after: always;"></div>

<h2>Обзор товаров</h2>
<table border="1">
    <tr>
        <td></td>
        <td><a href="{{ goods_overview.expensive.url }}"><img src="{{ goods_overview.expensive.logo }}" alt="{{ goods_overview.expensive.name }}" width="100px"></a></td>
        <td><a href="{{ goods_overview.cheap.url }}"><img src="{{ goods_overview.cheap.logo }}" alt="{{ goods_overview.cheap.name }}" width="100px"></a></td>
        <td><a href="{{ goods_overview.old.url }}"><img src="{{ goods_overview.old.logo }}" alt="{{ goods_overview.old.name }}" width="100px"></a></td>
        <td><a href="{{ goods_overview.bad.url }}"><img src="{{ goods_overview.bad.logo }}" alt="{{ goods_overview.bad.name }}" width="100px"></a></td>
    </tr>
    <tr>
        <td></td>
        <td>Самый дорогой</td>
        <td>Самый дешевый</td>
        <td>Самый старый</td>
        <td>Самый низкий рейтинг</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ goods_overview.expensive.price }} руб.</td>
        <td>{{ goods_overview.cheap.price }} руб.</td>
        <td>{{ goods_overview.old.price }} руб.</td>
        <td>{{ goods_overview.bad.price }} руб.</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="{{ goods_overview.expensive.url }}">{{ goods_overview.expensive.name }}</a></td>
        <td><a href="{{ goods_overview.cheap.url }}">{{ goods_overview.cheap.name }}</a></td>
        <td><a href="{{ goods_overview.old.url }}">{{ goods_overview.old.name }}</a></td>
        <td><a href="{{ goods_overview.bad.url }}">{{ goods_overview.bad.name }}</a></td>
    </tr>
    <tr>
        <td>Продаж всего</td>
        <td>{{ goods_overview.expensive.purchases.number }} {{ goods_overview.expensive.purchases.digits }} {{ goods_overview.expensive.purchases.units }}</td>
        <td>{{ goods_overview.cheap.purchases.number }} {{ goods_overview.cheap.purchases.digits }} {{ goods_overview.cheap.purchases.units }}</td>
        <td>{{ goods_overview.old.purchases.number }} {{ goods_overview.old.purchases.digits }} {{ goods_overview.old.purchases.units }}</td>
        <td>{{ goods_overview.old.purchases.number }} {{ goods_overview.old.purchases.digits }} {{ goods_overview.old.purchases.units }}</td>
    </tr>
    <tr>
        <td>Продаж всего (руб.)</td>
        <td>{{ goods_overview.expensive.turnover.number }} {{ goods_overview.expensive.turnover.digits }} {{ goods_overview.expensive.turnover.units }}</td>
        <td>{{ goods_overview.cheap.turnover.number }} {{ goods_overview.cheap.turnover.digits }} {{ goods_overview.cheap.turnover.units }}</td>
        <td>{{ goods_overview.old.turnover.number }} {{ goods_overview.old.turnover.digits }} {{ goods_overview.old.turnover.units }}</td>
        <td>{{ goods_overview.old.turnover.number }} {{ goods_overview.old.turnover.digits }} {{ goods_overview.old.turnover.units }}</td>
    </tr>
    <tr>
        <td>Первый отзыв</td>
        <td>{{ goods_overview.expensive.first_review_date }}</td>
        <td>{{ goods_overview.cheap.first_review_date }}</td>
        <td>{{ goods_overview.old.first_review_date }}</td>
        <td>{{ goods_overview.bad.first_review_date }}</td>
    </tr>
    <tr>
        <td>Рейтинг</td>
        <td>{{ goods_overview.expensive.average_rating }}/5</td>
        <td>{{ goods_overview.cheap.average_rating }}/5</td>
        <td>{{ goods_overview.old.average_rating }}/5</td>
        <td>{{ goods_overview.bad.average_rating }}/5</td>
    </tr>
</table>

<div style="page-break-after: always;"></div>

<h2>Сравнение с соседними разделами</h2>
<table border="1">
    <thead>
        <th></th>
        <th>Первые продажи</th>
        <th>Оборот в мес.</th>
        <th>Товаров</th>
        <th>Брендов</th>
        <th>Оборот медианного товара</th>
        <th>Монопольность</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{ category_url }}">{{ category_name }}</a></td>
            <td>{{ base_first_sales }}</td>
            <td>{{ base_turnover.number }} {{ base_turnover.digits }} {{ base_turnover.units }}</td>
            <td>{{ base_goods.number }} {{ base_goods.digits }}</td>
            <td>{{ base_brands.number }} {{ base_brands.digits }}</td>
            <td>{{ base_turnover_median.number }} {{ base_turnover_median.digits }} {{ base_turnover_median.units }}</td>
            <td>{{ base_monopoly_index.number }}/5</td>
        </tr>
    </tbody>
</table>
</body>
</html>